{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %}Formulario Habitaciones{% endblock %}

{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Actualizar Habitación</h1>
        <form action="{% url 'habitaciones_actualizar' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="id" value="{{ habitacion.id }}">
            <div class="form-floating mb-3">
                <input type="number" value="{{ habitacion.num_habitacion }}" class="form-control" id="num_habitacion" placeholder="Numero de la habitacion" name="num_habitacion">
                <label for="num_habitacion">Numero de la habitacion</label>
            </div>
            <div class="form-floating mb-3 col-12 p-1">
                <select class="form-select" id="hotel" name="hotel" required>
                    <option value="">Seleccionar Hotel</option>
                    {% for c in data %}
                    <option value="{{ c.id }}" {% if habitacion.id_hotel.id == c.id %}selected{% endif %}>{{ c.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="hotel">Hotel</label>
            </div>
            <div class="form-group mb-3">
                <input type="checkbox" class="btn-check" id="ocupado" autocomplete="off" name="ocupado">
                <label class="btn" for="ocupado"> Disponible </label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="capacidad_huesped" placeholder="Capacidad de huespedes" name="capacidad_huesped" value="{{ habitacion.capacidad_huesped }}">
                <label for="capacidad_huesped">Capacidad de Huespedes</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" value="{{ habitacion.tipoHabitacion }}" class="form-control" id="tipoHabitacion" placeholder="Tipo de habitación" name="tipoHabitacion">
                <label for="tipoHabitacion">Tipo de habitación</label>
            </div>
            <div class="form-floating mb-3 col-12 p-1">
                <select class="form-select" id="foto" name="foto" required>
                    <option value="">Seleccionar Foto</option>
                    {% for c in foto %}
                    <option value="{{ c.id }}" {% if habitacion.foto.id == c.id %}selected{% endif %}>{{ c.url_foto }}</option>
                    {% endfor %}
                </select>
                <label for="hotel">Url de la foto</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text"  value="{{ habitacion.precio }}" class="form-control" id="precio" placeholder="precio" name="precio">
                <label for="precio">Precio</label>
            </div>
 
            <div class="row my-2">
                <button type="submit" class="btn btn-primary"> Actualizar</button>
            </div>
        </form>
    </div>
{% endblock %}