{% extends 'planning_travel/hoteles/base_hoteles.html' %}
{% load static %}

{% block titulo %}Perfil-Usuario{% endblock %}

{% block estilos %}
<link
    rel="stylesheet"
    href="{% static 'planning_travel/styles/perfil.css' %}"
/>
{% endblock %}
<style></style>

{% block content %}
<div id="modal" class="modal" style="display: none;">
    <div class="modal-contenido">
        <span class="cerrar" onclick="cerrarModal()">&times;</span>
		<h1 class="text-center">Actualizar Datos</h1>
        <form action="{% url 'perfil_actualizar' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="id" value="{{ data.id }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" value="{{ data.nombre }}">
                <label for="nombre">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="descripcion" placeholder="ID" name="descripcion" value="{{ data.id }}" disabled>
                <label for="descripcion">ID</label>
            </div>
			<div class="form-floating mb-3">
                <input type="text" class="form-control" id="descripcion" placeholder="ID" name="descripcion" value="{{ data.get_rol_display }}" disabled>
                <label for="descripcion">ROL</label>
            </div>
			<div class="form-floating mb-3">
                <input type="text" class="form-control" id="descripcion" placeholder="Correo" name="correo" value="{{ data.correo }}">
                <label for="descripcion">Correo</label>
            </div>
            <div class="" style="display: flex; justify-content: center;">
				<button type="submit" class="btn btn-info">Guardar</button>
			</div>
        </form>
    </div>
</div>

<div class="barra_perfil">
	<h5 class="texto"> <strong>Perfil del usuario</strong></h5>
</div>

<div style="display: flex; justify-content: center; gap: 30px;">
	<div style="display: flex;justify-content:flex-end;">
		<div class="profile-container">
			<div class="profile-card" style="display: flex; flex-direction: column; align-items: center;">
				<div class="profile-image">
					<img src="{% static 'planning_travel/images/usuario.webp' %}" alt="Foto de Perfil" class="profile-img">
					<h5 class="profile-name">{{ data.nombre }}</h5>
					<p class="profile-role">{{ data.get_rol_display }}</p>
					<a href="#" class="btn change-photo-btn" onclick="abrirModal2()">Cambiar Foto de Perfil</a>
				</div>
			</div>
		</div>
	</div>

	<div style="display: flex; justify-content: center;">
		<div class="card">
			<div class="card-content">
				<h2 class="barra_perfil2">Datos Básicos</h2>
				<div class="info-list">
					<div class="card2">
						<strong>Correo:</strong>
						<span>{{ data.correo }}</span>
					</div>
					<div class="card2">
						<strong>Rol:</strong>
						<span>{{ data.get_rol_display }}</span>
					</div>
					<div class="card2">
						<strong>Id de usuario:</strong>
						<span>{{ data.id }}</span>
					</div>
					<div class="card2">
						<strong>Nombre:</strong>
						<span>{{ data.nombre }}</span>
					</div>
					<div class="card2">
						<strong>Nombre:</strong>
						<span>{{ data.nombre }}</span>
					</div>
					<div class="card2">
						<strong>Nombre:</strong>
						<span>{{ data.nombre }}</span>
					</div>
					<div class="card2">
						<strong>Nombre:</strong>
						<span>{{ data.nombre }}</span>
					</div>
					<!-- Agrega más datos básicos si es necesario -->
				</div>
				<div style="text-align: center;">
					<a href="#" class="btn edit-profile-btn" onclick="abrirModal()">Editar datos</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<script>
	// Función para abrir la modal
	function abrirModal() {
		var modal = document.getElementById('modal');
		modal.style.display = 'block';
	}

	// Función para cerrar la modal
	function cerrarModal() {
		var modal = document.getElementById('modal');
		modal.style.display = 'none';
	}
</script>
{% endblock %}