{% extends 'planning_travel/base.html' %} 
{% load static %} 
{% block titulo %}Actualizar Fotos{% endblock %}
{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Actualizar fotos</h1>
        <form action="{% url 'fotos_actualizar' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="id" value="{{ data.id }}">
            <div class="form-floating mb-3 col-12 p-1">
                <select class="form-select" id="hotel" name="hotel" required>
                    <option value="">Seleccionar Hotel</option>
                    {% for c in hotel %}
                        <option value="{{ c.id }}" {% if data.id_hotel.id == c.id %}selected{% endif %}>{{ c.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="hotel"
                    >Hotel</label
                >
            </div>
            <div class="form-floating mb-3">
                <input type="image" class="form-control" id="foto" placeholder="Foto" name="foto">
                <label for="foto">Foto</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="descripcion" placeholder="Descripción" name="descripcion" value="{{ data.descripcion }}">
                <label for="descripcion">Descripción</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
{% endblock %}