.nav-bar {
    display: flex;
    height: 80px;
    padding: 0 200px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    
}

.search-bar {
    border: 2px solid #d1d1d1;
    border-radius: 40px;
    width: fit-content;
    padding: 0 4px;
    align-items: center;
    gap: 0;
}

.input-search {
    height: 52px;
    border-radius: 40px;
    border: none;
    padding: 0 16px;
    font-size: 14px;
}

.input-search:focus {
    outline: none;
    background-color: gainsboro;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: black;
}

.btn-search {
    width: 42px;
    height: 42px;
    border-radius: 40px;
    border: none;
    background-color: var(--primary-color);
    color: white;
}

.nav-bar-btns {
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    border: none;
}

.btn-publicar {
    width: 137px;
    height: 52px;
    border-radius: 40px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.btn-publicar:hover {
    background-color: gainsboro;
}

.btn-profile {
    border: 1px solid #d1d1d1;
    padding: 8px 8px 8px 16px;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 50px;
    font-size: 24px;
    border-radius: 40px;
    cursor: pointer;
    gap: 12px;
}

.btn-profile:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.dropdown-user {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    background-color: #d3d3d3;
    margin: 10px 0 0 0;
    width: 200px;
    padding: 0;
    padding: 2px 4px;
    border-radius: 10px;
}

.dropdown-user.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border: none;
    gap: 8px;
}

.dropdown-elemento a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.dropdown-elemento:hover a {
    color: var(--primary-color);
}